* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(242, 252, 241);
    padding: 30px;
}

header h1.h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8rem;
    color: rgb(0, 140, 255);
    margin-left: 55px;
}

.principal {
    display: flex;
    align-items: center;
}

.imgespecial {
    width: 280px;
    height: 85px;
    vertical-align: middle;
    border-radius: 20px;
    background-position: center;
}

.procurar {
    margin: auto;
    display: block;
}

input[type="search"] {
    padding-left: 22px; /* Espaço para o ícone */
    background-image: url('file:///C:/Users/gabri/Downloads/search_FILL0_wght400_GRAD0_opsz24.svg'); 
    background-size: 20px 20px; 
    background-position: 5px center; 
    background-repeat: no-repeat;
    color: rgb(156, 155, 155);
}


.procurar input {
    height: 50px;
    width: 600px;
    text-align: center;
    border-radius: 20px;
    text-align: left;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0rem;
}

.cadastre h1 {
    color: rgb(185, 20, 20);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.material-symbols-outlined {
    color: rgb(185, 20, 20);
    padding: 20px;
}




.lista {
    background-color:rgb(66, 94, 158);
    padding: 20px;
}

ul {
    text-align: center;
}

ul li a{
    text-decoration: none;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
    transition: 0.3s;
}

a:hover {
    cursor: pointer;
    color: rgb(240, 236, 236); /* Cor ao passar o mouse */
}

ul li{
    padding: 0px 40px;
    text-decoration: none;
    display: inline-block;
}

.imgespecial {
    width: 190px;
    height: 75px;
    vertical-align: middle;
    border-radius: 20px;
}

section h1 {
    text-align: center;
    font-size: 1.7rem;
    margin-top: 40px;
}

#resultadoCompra {
    text-align: center;
    color: rgb(29, 216, 32);
    font-size: 1.8rem;
    font-weight: bolder;
    margin-top: 70px;
}

#resultadoCompra1 {
    text-align: center;
    color: rgb(220, 23, 23);
    font-size: 1.8rem;
    font-weight: bolder;
    margin-top: 70px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    width: 400px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }

.principall {
    text-align: center;
    margin-top: 60px;
}
.principall p {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 40px;
}